@using CarAmbition.Models;
@model List<BanTin>
@{
    Layout = "~/Views/UserLayout/UserLayout.cshtml";
    ViewBag.Title = "Index";
}

@section tab {
    <style>
        .main-content {
            float: left;
            width: 68%;
            display: inline-block;
            margin-left: 75px;
        }

        #auto-tab {
            width: 100%;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-radius: 0px 0px 5px 5px;
            padding-bottom: 14px;
        }

            #auto-tab a {
                color: #04470c;
            }

        .sell-car-griditem {
            width: 211.9px;
            height: 400px;
            float: left;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 15px;
            display: inline-block;
        }

            .sell-car-griditem:hover {
                border: 1px solid #e6e6e6;
                box-shadow: 0 10px 12px 0 #ebebeb,0px -10px 12px 0 #ebebeb;
            }

        #title {
            padding-bottom: 100px;
            margin-left: 10px;
        }

            #title a:hover {
                text-decoration: none;
                color: #1a621a;
            }

        .fixheightinfo {
            margin-left: 10px;
        }

        #active li {
            color: #04470c;
        }

        #newcar a {
            color: #04470c;
        }

        #more a {
            margin-top: 1%;
            float: right;
            color: #04470c;
        }

            #more a:hover {
                text-decoration: none;
                color: #1a621a;
            }
    </style>
    <div class="main-content">
        <ul class="nav nav-tabs" id="tab">
            <li class="active" id="newcar"><a href="#newest">Xe mới</a></li>
        </ul>
        <div class="tab-content" id="auto-tab">
            @{
                foreach (var item in Model)
                {
                    <div id="newest" class="tab-pane fade in active">
                        <div class="sell-car-griditem">
                            <div class="photo">
                                <a href="@Url.Action("DetailView", "Home", new { @mabantin = item.MaBanTin})"><img src="~/Content/@item.HinhAnh" style="width:210px; height:118px;"></a>
                            </div>
                            <div class="info">
                              @if(item.HanDang == true )
                              { 
                                    <h3 class="rowitem tit" id="title" style="height: 60px;"><a class="opensanslistauto" href="@Url.Action("DetailView", "Home", new { @mabantin = item.MaBanTin})">@item.TieuDe (Hết hạn)</a></h3>
                              }
                                else
                              {
                                  <h3 class="rowitem tit" id="title" style="height: 60px;"><a class="opensanslistauto" href="@Url.Action("DetailView", "Home", new { @mabantin = item.MaBanTin})">@item.TieuDe</a></h3> 
                              }
                                  <div class="fixheightinfo" style="height: 83px;">
                                    <div class="rowitem">
                                        <label class="name">Tình trạng</label>
                                        @if (@item.Xe.TinhTrang == true)
                                        {<span class="content">: Mới</span>}
                                        else
                                        {<span class="content">: Cũ</span>}
                                    </div>

                                    <div class="rowitem">
                                        <label class="name">Xuất xứ</label>
                                        <span class="content">: @item.Xe.XuatXu</span>
                                    </div>
                                    <div class="rowitem">
                                        <label class="name">Km</label>
                                        <span class="content">: @item.Xe.SoKm</span>
                                    </div>
                                    <div class="rowitem">
                                        <label class="name">Hộp số</label>
                                        <span class="content">: @item.Xe.HopSo</span>
                                    </div>
                                    <div class="rowitem">
                                        <div class="price">
                                            Giá bán: @item.Xe.GiaBan
                                            @if (@item.Xe.DonVi == true)
                                            {<span class="content"> Triệu VND</span>}
                                            else
                                            {<span class="content"> USD</span>}
                                        </div>
                                        <div class="location">Địa chỉ: @item.NguoiDung.DiaChi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div id="more">
            @Html.ActionLink("Xem thêm", "Deal", "Deal")
        </div>
    </div>
}
@section banner {
    <style>
        .ad-banner {
            float: right;
            width: 25%;
            display: inline-block;
            position: relative;
        }
    </style>
    <div class="ad-banner">
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/ChevroletGiaiPhong_SlideLeftDown_isHome_100x300_DungNT5.gif" />
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/A1_ChevroletHaNoi_isHome_100x300_DungNt5.gif" />
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/ToyotaCauDien_SlideRightUp_Home_100x300.gif" />
        </a>
        <br />
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/E2_KiaBienHoa_isHome_300x250_QuynhDTT.gif" />
        </a>
    </div>
}